body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #940090;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #160032;
}

.hero-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.request-resources-page {
    padding: 120px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.request-resources-page h1 {
    margin-bottom: -70px;
}

.request-resources-page .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    gap: 20px;
}

.request-resources-page .form-container,
.request-resources-page .textbox-container {
    width: 100%;
    max-width: 400px;
}

.request-resources-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.request-resources-page form label,
.request-resources-page form input,
.request-resources-page form select {
    margin-bottom: 10px;
    width: 100%;
}

.request-resources-page form input[type="text"],
.request-resources-page form select {
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.request-resources-page form input[type="submit"] {
    padding: 12px;
    background-color: #940090;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.request-resources-page form input[type="submit"]:hover {
    background-color: #160032;
}

.request-resources-page .info-text {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #333;
    width: 100%;
    max-width: 400px;
}

.feedback-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 20px;
    flex-direction: column;
    text-align: center;
}

.feedback-page .form-container,
.feedback-page .textbox-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.feedback-page form {
    display: flex;
    flex-direction: column;
}

.feedback-page form label,
.feedback-page form textarea,
.feedback-page form input[type="submit"] {
    margin-bottom: 12px;
}

.feedback-page textarea {
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: vertical;
    font-family: Arial, sans-serif;
}

.feedback-page form input[type="submit"] {
    padding: 12px;
    background-color: #940090;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-page form input[type="submit"]:hover {
    background-color: #160032;
}

.feedback-page .info-text {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #333;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 20px;
}

.info-box {
    display: block;
    width: 250px;
    margin: 10px;
    text-align: center;
    background-color: #160032;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.info-box:hover {
    background-color: #940090;
}

.info-box-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .info-boxes {
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        width: 80%;
    }

    .request-resources-page, .feedback-page {
        padding: 120px 20px 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 100px auto;
    max-width: 1200px;
    gap: 20px;
    padding: 20px;
}

.funding-box {
    background-color: #f4f4f4;
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.funding-box:hover {
    background-color: #e0e0e0;
    transform: translateY(-5px);
}

.funding-box h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.funding-box p {
    color: #666;
    margin: 10px 0 20px;
    font-size: 1em;
    line-height: 1.6;
}

.funding-box a {
    display: inline-block;
    color: #fff;
    background-color: #940090;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.funding-box a:hover {
    background-color: #160032;
}

.year-box {
    flex: 1;
    max-width: 30%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.year-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.year-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.year-box a {
    display: inline-block;
    text-decoration: none;
    background-color: #940090;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.year-box a:hover {
    background-color: #160032;
}

.year-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.exercise-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f4f4f4;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.exercise-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.exercise-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.exercise-box p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.exercise-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #940090;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.exercise-box a:hover {
    background-color: #160032;
}

.nutrition-box {
    flex: 1;
    max-width: 30%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nutrition-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.nutrition-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.nutrition-box a {
    display: inline-block;
    text-decoration: none;
    background-color: #940090;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nutrition-box a:hover {
    background-color: #160032;
}

.nutrition-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.mindfulness-box {
    flex: 1;
    max-width: 48%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mindfulness-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.mindfulness-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.mindfulness-box a {
    display: inline-block;
    text-decoration: none;
    background-color: #940090;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.mindfulness-box a:hover {
    background-color: #160032;
}

.mindfulness-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.apply-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    flex-direction: column;
    text-align: center;
}

.apply-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

.apply-form {
    width: 100%;
    max-width: 500px;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.apply-container .form-group {
    margin-bottom: 20px;
}

.apply-container label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.apply-container input[type="date"],
.apply-container input[type="tel"],
.apply-container input[type="radio"],
.apply-container input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.apply-container .radio-group,
.apply-container .checkbox-group {
    display: flex;
    flex-direction: column;
}

.apply-container input[type="radio"],
.apply-container input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.apply-container .availability-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.apply-container .availability-group input[type="checkbox"] {
    margin-right: 8px;
}

button {
    padding: 12px 20px;
    background-color: #940090;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #160032;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    flex-direction: column;
    text-align: center;
}

.login-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

.login-container .form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

.login-container label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-container button {
    padding: 12px 20px;
    background-color: #940090;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #160032;
}

.journal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
    text-align: center;
}

.journal-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

.journal-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.journal-actions button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #940090;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.journal-actions button:hover {
    background-color: #160032;
}

.goals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
    margin-top: 50px;
}

.goals-left,
.goals-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goals-left {
    width: 60%;
    text-align: center;
    margin-top: 20px;
}

.goals-right {
    width: 35%;
    text-align: center;
}

.goals-left h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.goals-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.goals-list li {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.goals-right button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #940090;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.goals-right button:hover {
    background-color: #160032;
}

.hotline-header {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hotline-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.hotline-table th,
.hotline-table td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hotline-table th {
    background-color: #940090;
    font-size: 20px;
    color: #ffffff;
}

.hotline-table td {
    font-size: 18px;
    color: #555;
}

.hotline-table a {
    color: #4CAF50;
    text-decoration: none;
}

.hotline-table a:hover {
    text-decoration: underline;
}

.faq-header {
    text-align: center;
    font-size: 28px;
    margin: 100px 0 30px;
    color: #333;
}

.faq-container {
    width: 80%;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    display: block;
    padding: 15px;
    background-color: #940090;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #160032;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    color: #555;
    border-top: 1px solid #ddd;
}

.faq-checkbox {
    display: none;
}

.faq-checkbox:checked + .faq-question + .faq-answer {
    display: block;
}

.calendar-header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.calendar-header h1 {
    font-size: 28px;
    color: #333;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.resources-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.tips-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.section-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

.tips-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.articles-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.tips-card {
    flex: 1;
    max-width: 30%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card {
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
    max-width: 30%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tips-card img, .article-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.tips-card h3, .article-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.tips-card p, .article-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.tips-card a, .article-card a {
    display: inline-block;
    text-decoration: none;
    background-color: #940090;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tips-card a:hover, .article-card a:hover {
    background-color: #160032;
}

.tips-card:hover, .article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #940090;
}

::-webkit-scrollbar-thumb:hover {
    background: #160032;
}

.funding-header {
    text-align: center;
    font-size: 28px;
    margin: 100px 0 30px;
    color: #333;
}

.funding-subheader {
    font-size: 20px;
    color: #333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.funding-description {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.6;
    font-weight: normal;
}

.funding-container {
    width: 80%;
    margin: 0 auto;
}

.funding-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.funding-question {
    display: block;
    padding: 15px;
    background-color: #940090;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
}

.funding-question:hover {
    background-color: #160032;
}

.funding-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    color: #555;
    border-top: 1px solid #ddd;
}

.funding-checkbox {
    display: none;
}

.funding-checkbox:checked + .funding-question + .funding-answer {
    display: block;
}

main {
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.exercise-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    background-color: #940090;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.plan {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plan h3 {
    color: #333;
    margin-top: 0;
}

.plan ul {
    list-style-type: none;
    padding-left: 0;
}

.plan ul li {
    margin: 5px 0;
    line-height: 1.6;
}

.plan ul li:before {
    content: "✔️";
    margin-right: 8px;
    color: green;
}

.exercisevideo-title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.video-item {
    text-align: center;
}

.video-item h3 {
    margin-bottom: 10px;
}

.video-item iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.meal-title {
    text-align: center;
    color: #333;
    margin-top: 100px;
    margin-bottom: 40px;
}

.meal-category {
    background: #fff;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    text-align: center;
}

.meal-category h2 {
    color: #fff;
    margin: 0;
    padding: 10px 0;
}

.meal-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.meal-section {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.meal-section:hover {
    transform: translateY(-5px);
}

.meal-section img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.download-btn {
    display: inline-block;
    background-color: #940090;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-btn:hover {
    background-color: #160032;
}

.meditation-title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

.techniques-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.technique-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.technique-item {
    text-align: center;
}

.technique-item h3 {
    margin-bottom: 10px;
}

.technique-item iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.mindfulness-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.mindfulness-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #333;
}

.mindfulness-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mindfulness-card {
    flex: 1 1 22%;
    max-width: 30%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mindfulness-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.mindfulness-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.mindfulness-card a {
    display: inline-block;
    text-decoration: none;
    background-color: #940090;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.mindfulness-card a:hover {
    background-color: #160032;
}

.mindfulness-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.journal-add-header {
    text-align: center;
    color: #333;
    margin-top: 120px;
}

.journal-add-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journal-add-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    resize: none;
    font-family: Arial, sans-serif;
}

button {
    background-color: #940090;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 1rem auto;
}

button:hover {
    background-color: #160032;
}

.success-message {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.error-message {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.message-container {
    margin-bottom: 20px;
}

.no-entries {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.journal-header {
    font-size: 2rem;
    text-align: center;
    margin-top: 120px;
}

.goals-add-header {
    text-align: center;
    color: #333;
    margin-top: 120px;
}

.goals-add-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goals-add-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    resize: none;
    font-family: Arial, sans-serif;
}

.goals-add-button {
    background-color: #940090;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 1rem auto;
}

.goals-add-button:hover {
    background-color: #160032;
}

.goals-add-success {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.goals-add-error {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.goals-redeem-container {
    max-width: 800px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.goals-redeem-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.goals-redeem-credits {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.goals-redeem-message {
    background: #e8f5e9;
    border: 1px solid #a5d6a7;
    color: #2e7d32;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    text-align: center;
}

.goals-redeem-form {
    display: flex;
    flex-direction: column;
}

.goals-redeem-label {
    font-weight: bold;
    margin: 10px 0 5px;
}

.goals-redeem-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.goals-redeem-button {
    background: #940090;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.goals-redeem-button:hover {
    background: #160032;
}

.goals-redeem-strong {
    font-weight: bold;
    color: #333;
}

.goals-add-guide {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.goals-add-guide p {
    font-weight: bold;
    margin-bottom: 10px;
}

.goals-add-guide .small-note {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}

.goals-add-guide ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.goals-add-guide li {
    margin-bottom: 5px;
}

.goals-add-guide strong {
    color: #333;
}

.goals-add-guide p:last-of-type {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.goals-add-guide .important-note {
    background-color: #f8d7da;
    color: #333;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.goals-redeem-note {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 5px;
}

.goals-redeem-note strong {
    font-weight: bold;
}